modules = ["nodejs-20", "python-3.12"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 41402461
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
